img.icon {
  width: calc(232px / 5);
}

.row {
  display: flex;
  background-color: #eee;
  padding: 10px;

  & > div {
    &:nth-child(1) {
      flex: 1;
      max-width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    &:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;

      & > div {
        &:nth-child(1) {
          h4 {
            padding: 10px 0;
            margin: 0 0 0 15px;
          }
        }
      }
    }
  }
}

.offset {
  color: #888;
  font-size: 0.8em;
  float: right;
}
