.label {
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 1.1em;
}

.row {
  padding: 10px;
  font: 12px Arial;
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  &:nth-child(even) {
    background-color: #eee;
  }

  h4 {
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 20px;
  }

  table {
    border-collapse: collapse;
    color: #555;
    th {
      text-align: left;
    }
    th,
    td {
      border: 1px solid #bbb;
      padding: 4px;
      width: 200px;
      &:last-child {
        width: 300px;
      }
    }
    td.precision {
      color: #999;
    }
  }
}
